<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Carson</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="secret">
    <h1 class="title">Carson's Secret Shrine</h1>
    <h2 class= "info">https://www.youtube.com/channel/UChrwNnLfe4AZ8y7TjkswW4g</h2>
  </body>
</html>
